// Breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/*Variables de tipografia*/
$jakarta-font: "Plus Jakarta Sans", sans-serif;

/*Variables de colores*/
$btn-color-violet: #666CA3;
$btn-color-dark-blue: #13183F;
$paragraph-gray-color: #83869A;
$link-get-started-color: #F74780;
$btn-hover-pink: #FFA7C3;
$container-bg-white: #FCFCFF;
$container-secondary-white: #F0F1FF;
$color-orange: #FF6F48;
$color-lile: #F02AA6;
$color-blue: #4851FF;
$gradinet-primary: linear-gradinet(to bottom, #4851FF, #F02AA6 );


