.header-xl{
    font-size: 56px;
    font-weight: 800;
    line-height: 100%;
}

.header-l{
    font-size: 40px;
    font-weight: 800;
    line-height: 100%;   
}

.header-m{
    font-size: 32px;
    font-weight: 800;
    line-height: 100%; 
}

.header-s{
    font-size: 24px;
    font-weight: 800;
    line-height: 100%; 
}