.menu{
    width: 343px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    
    @include breakpoint(tablet){
        width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @include breakpoint(desktop){
        width: 1200px;
        padding-left: 110px;
        padding-right: 110px;
    }
    
    #logo{
        height: 100%;
    }
    
    #menu-btn{
        background-color: $btn-color-dark-blue;
        font-weight: 400;
        &:hover{
            background-color: $btn-color-violet;
        }
    }
}